[submodule "tools/ChampSim"]
	path = tools/ChampSim
	url = https://github.com/ChampSim/ChampSim.git
[submodule "tools/scarab"]
	path = tools/scarab
	url = https://github.com/hpsresearchgroup/scarab.git
[submodule "tools/gem5"]
	path = tools/gem5
	url = https://github.com/gem5/gem5.git
[submodule "tools/NPB-CPP"]
	path = tools/NPB-CPP
	url = https://github.com/GMAP/NPB-CPP
